In [10]:
import pandas as pd
import seaborn as sns

In [11]:
data=pd.read_csv('../raw_data/training_data.csv',   encoding='latin-1')

In [13]:
data.columns=['label','id', 'date','query','username','tweet']

In [14]:
data

,label,id,date,query,username,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [15]:
X= data.drop(columns=['query','label'])
y= data['label']

In [16]:
data.label.value_counts()

4    800000
0    799999
Name: label, dtype: int64

In [21]:
tweet = data.drop(columns=['query','label','id','date','username'])

In [23]:
pd_t = pd.DataFrame(tweet)

In [24]:
pd_t

                                                     tweet
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1599994  Just woke up. Having no school is the best fee...
1599995  TheWDB.com - Very cool to hear old Walt interv...
1599996  Are you ready for your MoJo Makeover? Ask me f...
1599997  Happy 38th Birthday to my boo of alll time!!! ...
1599998  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 1 columns]